version: "3.8"

services:
  traefik:
    image: traefik:v2.11
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "8081:80"
      - "18080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - app_network

  web:
    build:
      dockerfile: Dockerfile
      context: .
    deploy:
      replicas: 4
    networks:
      - app_network
      - backend_network
    volumes:
      - .:/code
    environment:
      FLASK_DEBUG: "true"
      REDIS_HOST: redis
      REDIS_PORT: 6379
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.rule=PathPrefix(`/`)"
      - "traefik.http.routers.web.entrypoints=web"
      - "traefik.http.services.web.loadbalancer.server.port=5000"

  redis:
    image: "redis:alpine"
    volumes:
      - type: volume
        source: mydata
        target: /data
    networks:
      - backend_network

volumes:
  mydata:

networks:
  app_network:
  backend_network:
